body {
    padding: 20px 0;
}

.flash-message {
    margin-top: 20px;
}

.jumbotron {
  background-image: url("../img/basket.jpg");
  background-size: cover;
}

#map {
  width:400px;
  height:400px;
  background:yellow;
  float: right;
}

.avatar {
  width: 100px;
  height: 100px;
  float: left;
}

.results {
  float: left;
}
