<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <style type="text/css">
        .form-container {
            width: 400px;
            margin: auto;
        }

        .credits {
            border-top: 1px solid #ddd;
            margin-top: 40px;
            padding-top: 20px;
        }
    </style>
</head>
<body>
<div class="credits text-center">
    <div class="row">
        <div class="col-6 col-md-3">
            <ul class="list-group">
                <li class="list-group-item">Home</li>
                <li class="list-group-item">About</li>
                <li class="list-group-item">Features</li>
                <li class="list-group-item">Pricing</li>
                <li class="list-group-item">Contact Us</li>
            </ul>
        </div>
        <div class="col-6 col-md-3">
            <ul class="list-group">
                <li class="list-group-item">Blog</li>
                <li class="list-group-item">Search</li>
                <li class="list-group-item">T & Cs</li>
                <li class="list-group-item">Privacy</li>
                <li class="list-group-item">Community</li>
            </ul>
        </div>
        <div class="col col-md-6">
            <li class="list-group-item">Get our newsletter</li>
            <li class="list-group-item">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter your email">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Subscribe!</button>
                    </span>
                </div><!-- /input-group -->
            </li>
            <li class="list-group-item">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-snapchat-ghost" aria-hidden="true"></i>
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
            </li>
        </div>
    </div>
</div>
</body>
</html>
<!--
<div class="container">

</div>
-->