<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SportSpread</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="app-content/app.css" rel="stylesheet" />
</head>
<body class="container">
<!-- header -->
<header>
    <%- include('partials/header') %>
</header>

<!-- main -->
<main ui-view>

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img class="img-circle" src="/app/img/icon/png/basketball-1.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Teammate</h2>
                <p>You can easily find teammates!</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="../app/img/icon/png/hockey.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Opponent</h2>
                <p>Are you looking for an opponent? Go ahead and start using Sportspread.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="../app/img/icon/png/medal.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Instructor</h2>
                <p>SportSpread will make your  instructor search as fast as clicking a button!</p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Discover new locations. <span class="text-muted">It'll blow your mind.</span></h2>
                <p class="lead">You can find a location for any sporting event . Just decide on which sport, write the location.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="300x300" src="../app/img/icon/png/basketball-court.png" data-holder-rendered="true">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
                <h2 class="featurette-heading">Improve your skills with an instructor. <span class="text-muted">See for yourself.</span></h2>
                <p class="lead">Finding an instructor is so easy! Decide on which area and sport you want to learn. Sportspread will match you with the best instructor.</p>
            </div>
            <div class="col-md-5 col-md-pull-7">
                <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="../app/img/icon/png/tactics.png" data-holder-rendered="true">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Challenge a worthy opponent. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">Do you like a good challenge? Find the best opponent with Sportspread.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="../app/img/icon/png/chess.png" data-holder-rendered="true">
            </div>
        </div>

        <hr class="featurette-divider">
    </div>
</main>

<!-- footer -->
<footer>
    <%- include('partials/footer') %>
</footer>

<!-- external scripts -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>

<!-- application scripts -->
<script src="app.js"></script>
<script src="app-services/user.service.js"></script>
<script src="app-services/flash.service.js"></script>
<script src="home/index.controller.js"></script>
<script src="account/index.controller.js"></script>
</body>
</html>