<div id="accountpage">


<h1 id="accounttext">My Profile </h1>
<div class="row">
<div class="container col-xs-6">
    <h2>Profile Picture</h2>

    <img src="img/avatar4.png" class="img-circle" alt="Cinque Terre" width="304" height="236">
    <div class="row">
        <button type="button" class="btn btn-primary col-xs-3" id="imagechancebutton">Change Profile Picture</button>
    </div>

</div>
<div class="form-container col-xs-6">
    <form method="post">
        <div class="form-group">
            <label for="firstName">First name</label>
            <input type="text" id="firstName" class="form-control" ng-model="vm.user.firstName" required />
        </div>
        <div class="form-group">
            <label for="lastName">Last name</label>
            <input type="text" id="lastName" class="form-control" ng-model="vm.user.lastName" required />
        </div>
        <div class="form-group">
            <label for="email">E-Mail</label>
            <input type="text" id="email" class="form-control" ng-model="vm.user.email" required />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" ng-model="vm.user.password" />
        </div>
        <div class="form-group">
            <label for="Location">Location</label>
            <input type="text" id="location" class="form-control" ng-model="vm.user.location"/>
        </div>
        <h1>Interested Sports and Levels</h1>
        <h1>Level of Expertise:</h1>
        <ul>
            <li>Beginner</li>
            <li>Medium</li>
            <li>Advanced</li>
            <li>Professional</li>
        </ul>
        <div class="form-group">
            <label for="interestandlevel"></label>
            <input type="text" id="interestandlevel" class="form-control" placeholder="Type in your interests and level, eg. Football - Medium" ng-model="vm.user.interests"/>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="vm.saveUser()">Save Changes</button>
        </div>


    </form>
</div>

</div>
<div class="row">

</div>
</div>