<h1>My Profile</h1>
<div class="form-container">
    <form method="post">
        <div class="form-group">
            <label for="firstName">First name</label>
            <input type="text" id="firstName" class="form-control" ng-model="vm.user.firstName" required />
        </div>
        <div class="form-group">
            <label for="lastName">Last name</label>
            <input type="text" id="lastName" class="form-control" ng-model="vm.user.lastName" required />
        </div>
        <div class="form-group">
            <label for="email">E-Mail</label>
            <input type="text" id="email" class="form-control" ng-model="vm.user.email" required />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" ng-model="vm.user.password" />
        </div>
        <div class="form-group">
            <label for="Location">Location</label>
            <input type="text" id="location" class="form-control" ng-model="vm.user.location"/>
        </div>

        <h1>Interested Sports and Levels</h1>
        <h1>Level of Expertise:</h1>
        <ul>
            <li>Beginner</li>
            <li>Medium</li>
            <li>Advanced</li>
            <li>Professional</li>
        </ul>
        <div class="form-group">
            <label for="interestandlevel"></label>
            <input type="text" id="interestandlevel" class="form-control" placeholder="Type in your interests and level, eg. Football - Medium" ng-model="vm.user.interests"/>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="vm.saveUser()">Save Changes</button>
        </div>
    </form>
</div>
