    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:38
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-american-football:before { content: "\f100"; }
.flaticon-american-football-1:before { content: "\f101"; }
.flaticon-archery:before { content: "\f102"; }
.flaticon-badminton:before { content: "\f103"; }
.flaticon-ballet:before { content: "\f104"; }
.flaticon-baseball:before { content: "\f105"; }
.flaticon-baseball-1:before { content: "\f106"; }
.flaticon-baseball-2:before { content: "\f107"; }
.flaticon-basketball:before { content: "\f108"; }
.flaticon-basketball-1:before { content: "\f109"; }
.flaticon-basketball-court:before { content: "\f10a"; }
.flaticon-basketball-jersey:before { content: "\f10b"; }
.flaticon-bicycle:before { content: "\f10c"; }
.flaticon-boot:before { content: "\f10d"; }
.flaticon-boot-1:before { content: "\f10e"; }
.flaticon-bottle:before { content: "\f10f"; }
.flaticon-bowling:before { content: "\f110"; }
.flaticon-bowling-1:before { content: "\f111"; }
.flaticon-boxing:before { content: "\f112"; }
.flaticon-boxing-1:before { content: "\f113"; }
.flaticon-boxing-ring:before { content: "\f114"; }
.flaticon-boxing-ring-1:before { content: "\f115"; }
.flaticon-boxing-shorts:before { content: "\f116"; }
.flaticon-chess:before { content: "\f117"; }
.flaticon-cricket:before { content: "\f118"; }
.flaticon-cup:before { content: "\f119"; }
.flaticon-curling:before { content: "\f11a"; }
.flaticon-cycling:before { content: "\f11b"; }
.flaticon-darts:before { content: "\f11c"; }
.flaticon-dumbbell:before { content: "\f11d"; }
.flaticon-eight-ball:before { content: "\f11e"; }
.flaticon-fishing:before { content: "\f11f"; }
.flaticon-football-field:before { content: "\f120"; }
.flaticon-football-jersey:before { content: "\f121"; }
.flaticon-football-pitch:before { content: "\f122"; }
.flaticon-glove:before { content: "\f123"; }
.flaticon-goggles:before { content: "\f124"; }
.flaticon-golf:before { content: "\f125"; }
.flaticon-golf-1:before { content: "\f126"; }
.flaticon-hiking:before { content: "\f127"; }
.flaticon-hockey:before { content: "\f128"; }
.flaticon-hockey-1:before { content: "\f129"; }
.flaticon-hockey-pitch:before { content: "\f12a"; }
.flaticon-ice-skating:before { content: "\f12b"; }
.flaticon-jumping-rope:before { content: "\f12c"; }
.flaticon-karate:before { content: "\f12d"; }
.flaticon-kayak:before { content: "\f12e"; }
.flaticon-lacrosse:before { content: "\f12f"; }
.flaticon-locker:before { content: "\f130"; }
.flaticon-measuring-tape:before { content: "\f131"; }
.flaticon-medal:before { content: "\f132"; }
.flaticon-muscle:before { content: "\f133"; }
.flaticon-olympic-games:before { content: "\f134"; }
.flaticon-ping-pong:before { content: "\f135"; }
.flaticon-ping-pong-1:before { content: "\f136"; }
.flaticon-podium:before { content: "\f137"; }
.flaticon-pool:before { content: "\f138"; }
.flaticon-punch:before { content: "\f139"; }
.flaticon-punch-1:before { content: "\f13a"; }
.flaticon-racing:before { content: "\f13b"; }
.flaticon-racing-helmet:before { content: "\f13c"; }
.flaticon-racing-helmet-1:before { content: "\f13d"; }
.flaticon-referee:before { content: "\f13e"; }
.flaticon-roller-skate:before { content: "\f13f"; }
.flaticon-rowing:before { content: "\f140"; }
.flaticon-rugby:before { content: "\f141"; }
.flaticon-scoreboard:before { content: "\f142"; }
.flaticon-shoe:before { content: "\f143"; }
.flaticon-shoe-1:before { content: "\f144"; }
.flaticon-shorts:before { content: "\f145"; }
.flaticon-skateboard:before { content: "\f146"; }
.flaticon-soccer:before { content: "\f147"; }
.flaticon-soccer-1:before { content: "\f148"; }
.flaticon-soccer-jersey:before { content: "\f149"; }
.flaticon-stationary-bike:before { content: "\f14a"; }
.flaticon-steering-wheel:before { content: "\f14b"; }
.flaticon-stopwatch:before { content: "\f14c"; }
.flaticon-stopwatch-1:before { content: "\f14d"; }
.flaticon-strength:before { content: "\f14e"; }
.flaticon-surf:before { content: "\f14f"; }
.flaticon-surf-1:before { content: "\f150"; }
.flaticon-tactics:before { content: "\f151"; }
.flaticon-target:before { content: "\f152"; }
.flaticon-tennis:before { content: "\f153"; }
.flaticon-tennis-ball:before { content: "\f154"; }
.flaticon-tennis-court:before { content: "\f155"; }
.flaticon-torch:before { content: "\f156"; }
.flaticon-trampoline:before { content: "\f157"; }
.flaticon-treadmill:before { content: "\f158"; }
.flaticon-volleyball:before { content: "\f159"; }
.flaticon-waterpolo:before { content: "\f15a"; }
.flaticon-weight:before { content: "\f15b"; }
.flaticon-weight-1:before { content: "\f15c"; }
.flaticon-weight-2:before { content: "\f15d"; }
.flaticon-weight-3:before { content: "\f15e"; }
.flaticon-whistle:before { content: "\f15f"; }
.flaticon-world-cup:before { content: "\f160"; }
.flaticon-yachting:before { content: "\f161"; }
.flaticon-yoga:before { content: "\f162"; }
.flaticon-yoga-ball:before { content: "\f163"; }
    
    $font-Flaticon-american-football: "\f100";
    $font-Flaticon-american-football-1: "\f101";
    $font-Flaticon-archery: "\f102";
    $font-Flaticon-badminton: "\f103";
    $font-Flaticon-ballet: "\f104";
    $font-Flaticon-baseball: "\f105";
    $font-Flaticon-baseball-1: "\f106";
    $font-Flaticon-baseball-2: "\f107";
    $font-Flaticon-basketball: "\f108";
    $font-Flaticon-basketball-1: "\f109";
    $font-Flaticon-basketball-court: "\f10a";
    $font-Flaticon-basketball-jersey: "\f10b";
    $font-Flaticon-bicycle: "\f10c";
    $font-Flaticon-boot: "\f10d";
    $font-Flaticon-boot-1: "\f10e";
    $font-Flaticon-bottle: "\f10f";
    $font-Flaticon-bowling: "\f110";
    $font-Flaticon-bowling-1: "\f111";
    $font-Flaticon-boxing: "\f112";
    $font-Flaticon-boxing-1: "\f113";
    $font-Flaticon-boxing-ring: "\f114";
    $font-Flaticon-boxing-ring-1: "\f115";
    $font-Flaticon-boxing-shorts: "\f116";
    $font-Flaticon-chess: "\f117";
    $font-Flaticon-cricket: "\f118";
    $font-Flaticon-cup: "\f119";
    $font-Flaticon-curling: "\f11a";
    $font-Flaticon-cycling: "\f11b";
    $font-Flaticon-darts: "\f11c";
    $font-Flaticon-dumbbell: "\f11d";
    $font-Flaticon-eight-ball: "\f11e";
    $font-Flaticon-fishing: "\f11f";
    $font-Flaticon-football-field: "\f120";
    $font-Flaticon-football-jersey: "\f121";
    $font-Flaticon-football-pitch: "\f122";
    $font-Flaticon-glove: "\f123";
    $font-Flaticon-goggles: "\f124";
    $font-Flaticon-golf: "\f125";
    $font-Flaticon-golf-1: "\f126";
    $font-Flaticon-hiking: "\f127";
    $font-Flaticon-hockey: "\f128";
    $font-Flaticon-hockey-1: "\f129";
    $font-Flaticon-hockey-pitch: "\f12a";
    $font-Flaticon-ice-skating: "\f12b";
    $font-Flaticon-jumping-rope: "\f12c";
    $font-Flaticon-karate: "\f12d";
    $font-Flaticon-kayak: "\f12e";
    $font-Flaticon-lacrosse: "\f12f";
    $font-Flaticon-locker: "\f130";
    $font-Flaticon-measuring-tape: "\f131";
    $font-Flaticon-medal: "\f132";
    $font-Flaticon-muscle: "\f133";
    $font-Flaticon-olympic-games: "\f134";
    $font-Flaticon-ping-pong: "\f135";
    $font-Flaticon-ping-pong-1: "\f136";
    $font-Flaticon-podium: "\f137";
    $font-Flaticon-pool: "\f138";
    $font-Flaticon-punch: "\f139";
    $font-Flaticon-punch-1: "\f13a";
    $font-Flaticon-racing: "\f13b";
    $font-Flaticon-racing-helmet: "\f13c";
    $font-Flaticon-racing-helmet-1: "\f13d";
    $font-Flaticon-referee: "\f13e";
    $font-Flaticon-roller-skate: "\f13f";
    $font-Flaticon-rowing: "\f140";
    $font-Flaticon-rugby: "\f141";
    $font-Flaticon-scoreboard: "\f142";
    $font-Flaticon-shoe: "\f143";
    $font-Flaticon-shoe-1: "\f144";
    $font-Flaticon-shorts: "\f145";
    $font-Flaticon-skateboard: "\f146";
    $font-Flaticon-soccer: "\f147";
    $font-Flaticon-soccer-1: "\f148";
    $font-Flaticon-soccer-jersey: "\f149";
    $font-Flaticon-stationary-bike: "\f14a";
    $font-Flaticon-steering-wheel: "\f14b";
    $font-Flaticon-stopwatch: "\f14c";
    $font-Flaticon-stopwatch-1: "\f14d";
    $font-Flaticon-strength: "\f14e";
    $font-Flaticon-surf: "\f14f";
    $font-Flaticon-surf-1: "\f150";
    $font-Flaticon-tactics: "\f151";
    $font-Flaticon-target: "\f152";
    $font-Flaticon-tennis: "\f153";
    $font-Flaticon-tennis-ball: "\f154";
    $font-Flaticon-tennis-court: "\f155";
    $font-Flaticon-torch: "\f156";
    $font-Flaticon-trampoline: "\f157";
    $font-Flaticon-treadmill: "\f158";
    $font-Flaticon-volleyball: "\f159";
    $font-Flaticon-waterpolo: "\f15a";
    $font-Flaticon-weight: "\f15b";
    $font-Flaticon-weight-1: "\f15c";
    $font-Flaticon-weight-2: "\f15d";
    $font-Flaticon-weight-3: "\f15e";
    $font-Flaticon-whistle: "\f15f";
    $font-Flaticon-world-cup: "\f160";
    $font-Flaticon-yachting: "\f161";
    $font-Flaticon-yoga: "\f162";
    $font-Flaticon-yoga-ball: "\f163";