<div *ngIf="user" class="fb-profile">
  <img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example"/>
  <img align="left" class="fb-image-profile thumbnail" src="http://lorempixel.com/180/180/people/9/" alt="Profile image example"/>
  <div class="fb-profile-text">
    <div class="container">
      <form (submit)="onProfileSubmit()" class="form-signin">
        <h2 class="form-signin-heading">{{ user.name }}</h2>
        <input placeholder="Name" [(ngModel)]="user.name" name="name" type="text" class="form-control">
        <input placeholder="Username" [(ngModel)]="user.username" name="username" type="text" class="form-control">
        <input placeholder="Email" [(ngModel)]="user.email" name="email" type="email" class="form-control">
        <input [(ngModel)]="user.password" name="password" type="password" placeholder="Password" class="form-control" required="">
        <input placeholder="Location" [(ngModel)]="user.location" name="location" type="text" class="form-control">
        <div *ngFor="let interest of user.interests">
          <input placeholder="Interest" [(ngModel)]="interest.name" name="interestname" type="text" class="form-control">
        <div class="input-group col-xs-3">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Experience <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Beginner</a></li>
            <li><a href="#">Medium</a></li>
            <li><a href="#">Advanced</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Professional</a></li>
          </ul>
        </div>
      </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
      </form>
    </div>
  </div>
</div>
