<div class="jumbotron carousel">
  <div class="container text-center">
    <h1>SportSpread</h1>
    <p>share a sports experience, a platform for all...</p>

    <div class="row">
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <button (click)="changeSearchType('Teammate')" [class.active]="searchType === 'Teammate'" [class.btn-success]="searchType === 'Teammate'" type="button" class="btn btn-default">Teammate</button>
        </div>
        <div class="btn-group" role="group">
          <button (click)="changeSearchType('Opponent')" [class.active]="searchType === 'Opponent'" [class.btn-success]="searchType === 'Opponent'" type="button" class="btn btn-default">Opponent</button>
        </div>
        <div class="btn-group" role="group">
          <button (click)="changeSearchType('Instructor')" [class.active]="searchType === 'Instructor'" [class.btn-success]="searchType === 'Instructor'"  type="button" class="btn btn-default">Instructor</button>
        </div>
      </div>
    </div>

    <form (submit)="onSearchSubmit()">
      <div class="row" id="searchInput">
        <div class="form-group col-xs-3">
          <input [(ngModel)]="sport_name" name="sport_name" type="text" class="form-control" id="sport_name" placeholder="Sport, eg. Basketball">
        </div>

        <div class="form-group col-xs-3">
          <input [(ngModel)]="location" name="location" type="text" class="form-control" id="location" placeholder="Location, eg. Munich">
        </div>

        <div *ngIf="searchType==='Teammate' || searchType==='Opponent'" class="form-group col-xs-3 margin-dropdown">
          <select [(ngModel)]="experience" name="experience" class="form-control dropdown">
            <option disabled>Experience</option>
            <option value="Beginner">Beginner</option>
            <option value="Medium">Medium</option>
            <option value="Advanced">Advanced</option>
            <option value="Professional">Professional</option>
          </select>
        </div>
        <div class="form-group col-xs-3 margin-btn">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
        </div>
      </div>
    </form>

  </div>
</div>

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" src="assets/icon/png/basketball-1.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Teammate</h2>
      <p>You can easily find teammates!</p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="assets/icon/png/hockey.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Opponent</h2>
      <p>Are you looking for an opponent? Go ahead and start using Sportspread.</p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="assets/icon/png/medal.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Instructor</h2>
      <p>SportSpread will make your  instructor search as fast as clicking a button!</p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Discover new locations. <span class="text-muted">It'll blow your mind.</span></h2>
      <p class="lead">You can find a location for any sporting event . Just decide on which sport, write the location.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="300x300" src="assets/icon/png/basketball-court.png" data-holder-rendered="true">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Improve your skills with an instructor. <span class="text-muted">See for yourself.</span></h2>
      <p class="lead">Finding an instructor is so easy! Decide on which area and sport you want to learn. Sportspread will match you with the best instructor.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="assets/icon/png/tactics.png" data-holder-rendered="true">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Challenge a worthy opponent. <span class="text-muted">Checkmate.</span></h2>
      <p class="lead">Do you like a good challenge? Find the best opponent with Sportspread.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="assets/icon/png/chess.png" data-holder-rendered="true">
    </div>
  </div>

  <hr class="featurette-divider">
</div>
